* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE BACKGROUND */
.search-container {
  height: 100vh;
  background: linear-gradient(135deg, #d84e55, #f57c00);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.search-card {
  background: #ffffff;
  width: 420px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.6s ease-in-out;
}

/* TITLE */
.search-card h2 {
  text-align: center;
  color: #d84e55;
  margin-bottom: 20px;
}

/* INPUTS */
.search-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

.search-card input:focus {
  border-color: #d84e55;
}

/* BUTTON */
.search-btn {
  width: 100%;
  padding: 12px;
  background: #d84e55;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.search-btn:hover {
  background: #bf3b42;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
