.buslist-container {
  padding: 20px;
  background: #f5f5f5;
  min-height: 100vh;
}

.buslist-title {
  margin-bottom: 20px;
  color: #333;
}

/* CARD */
.bus-card {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* LEFT */
.bus-left h3 {
  margin: 0;
  color: #d84e55;
}

.bus-type {
  font-size: 13px;
  color: #777;
}

/* CENTER */
.bus-center {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.bus-center p {
  margin: 0;
  font-size: 13px;
  color: #666;
}

.duration {
  font-size: 20px;
  color: #999;
}

/* RIGHT */
.bus-right {
  text-align: right;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.seats {
  font-size: 13px;
  color: green;
  margin-bottom: 8px;
}

.view-seat-btn {
  background: #d84e55;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.view-seat-btn:hover {
  background: #bf3b42;
}
