body {
  font-family: Arial;
  background: #f4f6f8;
}

.card {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  background: #1976d2;
  color: white;
  border: none;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

.seat {
  padding: 15px;
  background: green;
  color: white;
  text-align: center;
}

.booked {
  background: red;
}
